.blog__wrapper {
  width: @general-wrapper;
  margin: auto;
  padding: 110px 0 112px 0;

  text-align: center;
}

.blog__lead {
  .lead
}

.blog__heading {
  position: relative;
  margin: 0;
  margin-bottom: 87px;

  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.6px;

  &::after {
    content: "";

    position: absolute;
    width: 60px;
    height: 3px;
    bottom: -40px;
    left: 50%;
    margin-left: -30px;

    background-color: #f38181;
  }
}

.page-footer__column .blog__heading {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 24px;

  &::after {
    display: none;
  }
}
