.carousel-reviews {
  min-height: 290px;

  background-color: #f8f8f8;

  &--bg-white {
    background-color: #ffffff;
  }
}

.carousel-reviews__wrapper {
  position: relative;
  padding: 60px 0 36px 0;
  width: @general-wrapper;
  margin: auto;
}

.carousel-reviews__item {
  &--1 {
    display: none;
  }

  &--2 {
    display: none;
  }
}

.carousel-reviews__avatar-block {
  position: relative;
  width: 300px;

  &--false {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 40px;
      width: 150px;
      height: 150px;

      border: 3px solid #95e1d3;
    }
  }
}

.carousel-reviews__text-block {
  width: 900px;
  padding-right: 100px;
  padding-left: 10px;
}

.carousel-reviews__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  color: #999999;
}

.carousel-reviews__author-avatar {
  margin-top: -23px;
  margin-left: 47px;

  &--false {
    margin-left: 128px;
    margin-top: 53px;
  }
}

.carousel-reviews__author-name {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 30px;
}

.carousel-reviews__previous {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  top: 140px;
  left: 0;

  font-size: 0;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;
    width: 15px;
    height: 15px;

    transform: rotate(45deg);

    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
  }

  &:hover::after {
    border-color: #95e1d3;
  }

  &:active::after {
    opacity: 0.5;
  }
}

.carousel-reviews__next {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  top: 140px;
  right: 0;

  font-size: 0;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;
    width: 15px;
    height: 15px;

    transform: rotate(225deg);

    border-left: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
  }

  &:hover::after {
    border-color: #95e1d3;
  }

  &:active::after {
    opacity: 0.5;
  }
}
