.members {
  display: flex;
  justify-content: space-between;
}

.members__item {
  position: relative;
}

.members__img-block {
  position: relative;
  transition-duration: 0.6s;
  transition-property: transform;

  &:hover {
    transform: translate(-10px, -10px);

    .members__social-block {
      opacity: 1;
      transition: opacity 0.3s;
      transition-delay: 0.3s;
      z-index: 2;
    }

    .members__inner-layer {
      opacity: 1;
      transition-delay: 0.6s;
      transition-duration: 0.6s;
      transition-property: opacity;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: linear-gradient(to bottom, rgba(243, 133, 129, 0.9), rgba(252, 227, 138, 0.9));
      z-index: 1;
    }
  }
}

.members__avatar {
  display: block;
  height: 100%;
}

.members__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.members__position {
  color: #999999;
  font-style: italic;
}

.members__social-block {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.members__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;

  background-color: #fce38a;

  border-right: 1px solid #f38181;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background-color: #f38181;

    .members__svg {
      fill: #ffffff;
    }
  }
}

.members__svg {
  fill: #f38181;
}

.members__inner-layer {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;

  background-color: #95e1d3;
  z-index: -1;
  opacity: 0;
}
